@import '../index.scss';

.profile-container {
    width: 87.2%;
    height: auto;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    background-color: var(--dark-blue);

    .profile-top {
        border-radius: 15px;
        background-color: var(--profile-blue);
        padding: 32px;

        .top-container {
            display: flex;
            justify-content: start;
            align-items: center;
            gap: 20px;

            .top-image {
                width: 64px;
                height: 64px;
                border: white 3px solid;
                border-radius: 50%;
            }

            .top-info {

                p {
                    padding: 0.2rem 0;
                    margin: 0;
                    color: var(--pale-blue);
                    font-weight: 300;
                    font-size: 15px;
                }

                h3 {
                    // padding: 0.2rem 0;
                    margin: 0;
                    color: white;
                    font-weight: 300;
                    font-size: 24px;
                }
            }
        }
    }

    .profile-bottom {
        padding: 1.1rem 0;

        .profile-bottom-container {
            // display: flex;
            // justify-content: space-between;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            text-align: center;

            a {
                text-decoration: none;
            }

            .link {
                color: var(--desaturated-blue);
            }

            .activated-link {
                color: white;
            }
        }
    }
}

//////////////////////////////

@media (min-width: 1100px) {
    .profile-container {
        grid-column: 1 / 2;
        grid-row: 1 / span 2;
        width: 255px;
        height: 100%;
        display: flex;
        flex-direction: column;
        border-radius: 15px;
        background-color: var(--dark-blue);

        .profile-top {
            border-radius: 15px;
            background-color: var(--profile-blue);
            padding: 0;
            height: 354px;

            .top-container {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: start;
                gap: 20px;

                padding: 29px 35px 32px 30px;

                .top-image {
                    width: 64px;
                    height: 64px;
                    border: white 3px solid;
                    border-radius: 50%;
                }

                .top-info {

                    p {
                        padding: 0.2rem 0;
                        margin: 0;
                        color: var(--pale-blue);
                        font-weight: 300;
                        font-size: 15px;
                    }

                    h3 {
                        // padding: 0.2rem 0;
                        margin: 0;
                        color: white;
                        font-weight: 300;
                        font-size: 40px;
                    }
                }
            }
        }

        .profile-bottom {
            padding: 0;
            height: 164px;

            .profile-bottom-container {
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                align-items: start;
                height: 164px;
                padding-left: 32px;

                a {
                    text-decoration: none;
                    line-height: 17px;
                }

                .link {
                    color: var(--desaturated-blue);
                }

                .activated-link {
                    color: white;
                }
            }
        }
    }
}