@import '../index.scss';

.profile-container {
    width: 87.2%;
    height: auto;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    background-color: var(--dark-blue);

    .profile-top {
        border-radius: 15px;
        background-color: var(--profile-blue);
        padding: 2rem;

        .top-container {
            display: flex;
            justify-content: start;
            align-items: center;
            gap: 0.8rem;

            .top-image {
                width: 64px;
                height: 64px;
                border: white 3px solid;
                border-radius: 50%;
            }

            .top-info {

                p {
                    padding: 0.2rem 0;
                    margin: 0;
                    color: var(--pale-blue);
                    font-weight: 300;
                    font-size: 15px;
                }

                h3 {
                    padding: 0.2rem 0;
                    margin: 0;
                    color: white;
                    font-weight: 300;
                    font-size: 24px;
                }
            }
        }
    }

    .profile-bottom {
        padding: 1.1rem 2rem;

        .profile-bottom-container {
            display: flex;
            justify-content: space-between;

            a {
                text-decoration: none;
            }

            .link {
                color: var(--desaturated-blue);
            }

            .activated-link {
                color: white;
            }
        }
    }
}